<div class="container">
<div class="sticker">
    <img class="sticker__image" src="../../assets/images/icon@2x.png" alt="">
    <div class="sticker__text">
        <div class="header-with-checkbox">
            <div class="check-box">
                <input class="check-box__real" type="checkbox"/>
                <div class="check-box__style" >
                    <img src="../../assets/images/true.png" alt="">
                </div>
            </div>
            <h3 class="header-text__main">
                إتفاقية استخدام أمانة المدينة المنورة للخدمات الإلكترونية
            </h3>
        </div>
        <p class="header-text__sub">
            أقر على صحة المعلومات و أنني اطلعت على إتفاقية خصوصية و سياسة الخدمات الالكترونية و الاشتراطات الخاصة بالخدمة و في حال عدم الامتثال فمن حق أمانة المدينة المنورة اتخاذ الإجراءات القانونية و النظامية        </p>
    </div>

    <div class="sticker__control">
        <button class="btn">
            <span>تنفيذ الخدمة إلكترونياً</span>
            <span class="btn__icon">
                <img src="../../assets/images/edit.svg" alt="">
            </span>
        </button>
    </div>
</div>
</div>
