<div class="form-action">
    <img class="form-action__image" src="../../assets/images/user.JPG" alt="">
    <p class="header-text__main form-action__title ">
        طلب مقابلة معالي الامين
    </p>
    <div class="form-action__control ">            
            <button class="btn btn__dark ml-20">
                <span>إرسال الطلب</span>
                <span class="btn__icon">
                    <img src="../../assets/images/check-underline.svg" alt="">
                </span>
            </button>
        <button class="btn">
            <span>إلغاء</span>
            <span class="btn__icon">
                <img src="../../assets/images/delete.svg" alt="">
            </span>
        </button>
    </div>
</div>