<div class="checkbox-group">

    <img class="checkbox-group__image" src="../../assets/images/chair.JPG" alt="">
    <div class="checkbox-group__content">
      
        <div class="checkbox-group__content-item" >
            <div class="check-box">
                <input class="check-box__real" type="checkbox"/>
                <div class="check-box__style" >
                    <img  src="../../assets/images/true.png" alt="">
                </div>
                
            </div>
            <p class='checkbox-group__content-item__head'>حالة خاصة</p>
            <p class='checkbox-group__content-item__text'>في حال مقدم الطلب من ذوي الهمم او كبار السن</p>
        </div>
        <div class="checkbox-group__content-item" >
            <div class="check-box">
                <input class="check-box__real" type="checkbox"/>
                <div class="check-box__style" >
                    <img src="../../assets/images/true.png" alt="">
                </div>
                
            </div>
            <p class='checkbox-group__content-item__head'>كرسي متحرك</p>
            <p class='checkbox-group__content-item__text'>في حال طلب كرسي متحرك لمقدمي الخدمة</p>
        </div>

     
    </div>
</div>
