<div class="personal-info">
    <div class="header-text">
        <div class="header-text__main mb-8"><img class="icon-22" src="../../assets/images/chevron-left.svg"/> <span>الإسم</span> </div>
        <div class="header-text__sub">عبد العزيز عبد الرحمن محمد</div>
    </div>
    <div class="header-text">
        <div class="header-text__main mb-8"><img class="icon-22" src="../../assets/images/chevron-left.svg"/> <span>رقم الهوية</span> </div>
        <div class="header-text__sub">87497497403659</div>
    </div>
    <div class="header-text">
        <div class="header-text__main mb-8"><img class="icon-22" src="../../assets/images/chevron-left.svg"/> <span>نوع الهوية</span> </div>
        <div class="header-text__sub">مواطن</div>
    </div>
    <div class="header-text">
        <div class="header-text__main mb-8"><img class="icon-22" src="../../assets/images/chevron-left.svg"/> <span>الجنس</span> </div>
        <div class="header-text__sub">ذكر</div>
    </div>
    <div class="header-text">
        <div class="header-text__main mb-8"><img class="icon-22" src="../../assets/images/chevron-left.svg"/> <span>العمر</span> </div>
        <div class="header-text__sub">38</div>
    </div>
    <div class="header-text">
        <div class="header-text__main mb-8"><img class="icon-22" src="../../assets/images/chevron-left.svg"/> <span>الجوال</span> </div>
        <div class="header-text__sub">58890944</div>
    </div>
</div>