<div class="request">
    <div class="request__number">
        <ng-content select=".requestNumber"></ng-content>
    </div>
    <div class="request__data">
    <div class="request__data__section">
        <div class="header-text">
            <div class="header-text__main">
                تاريخ الزياره
            </div>
            <div class="header-text__sub">
                12/10/2022
            </div>
        </div>
        <div class="header-text">
            <div class="header-text__main">
                وقت الزيارة
            </div>
            <div class="header-text__sub">
                وقت الزيارة
            </div>
        </div>
        <div class="header-text">
            <div class="header-text__main">
                الصفة
            </div>
            <div class="header-text__sub">
                نفسه
            </div>
        </div>
        </div>
        <div class="request__data__section">

        <div class="header-text">
            <div class="header-text__main">
                نوع الطلب
            </div>
            <div class="header-text__sub">
                طلب مقابلة مع مسؤول
            </div>
        </div>
        <div class="header-text">
            <div class="header-text__main">
                اسم المسؤول
            </div>
            <div class="header-text__sub">
                معالي الأمين
            </div>
        </div>
        <div class="header-text">
            <div class="header-text__main">
                المرفقات
            </div>
            <div class="header-text__sub">
                الهوية
            </div>
        </div>
    </div>

    </div>
    <div class="request__control">
        <ng-content select=".requestControl"></ng-content>
    </div>
</div>