@use '../../sass/utils/variables' as *;
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: neo-regular-arabic;
    width: 188px;
    height: 48px;
    padding:10px;
    color: $light-color;
    border: 1px solid $light-color;
    border-radius: 4px;
    font-weight: 700;
    &__icon{
        width: 22px;
        height: 22px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}