
.header-icon{
    width:55px;
    height: 55px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top:0;
        right: 0;
        height: 45px;
        width: 45px;
        background-color: aquamarine;
        border-radius: 50%;
        }
        &__content{
            position: absolute;
            bottom: 0;
            left: 0;
            object-fit: contain;
            width: 45px;
            height: 45px;
            
        }
}