<div class="footer">
    <div class="container">
        <div class="footer__content">
            <img class="footer__content__logo" src="../../assets/images/logo@2x.png" alt="">
            <p class="">
                سياسة الخدمات الالكترونية | إتفاقية الخصوصية | كل الحقوق محفوظة © امانة منطقة المدينة المنورة - 2022

            </p>
        
            <div class="footer__content__social">
                <img src="../../assets/images/facebook.svg" alt="">
                <img src="../../assets/images/instagram.svg" alt="">
                <img src="../../assets/images/twitter.svg" alt="">
                <img src="../../assets/images/instagram.svg" alt="">
                <img src="../../assets/images/youtube.svg" alt="">
            </div>
        </div>
    </div>
</div>

