<div class="search">
    <div>
        <app-input-group label="رقم الطلب"></app-input-group>
    </div>
    <div>
        <app-input-group label="حالة الطلب"></app-input-group>
    </div>
    <div>

        <app-input-group label="تاريخ من"></app-input-group>
    </div>
    <div>

        <app-input-group label="تاريخ الي"></app-input-group>
    </div>
</div>
<div class="warning">
    <div class="warning__section">
        <img src="../../assets/images/waring.svg" alt="">
        <span class="message"> رساله خطا .. برجاء ادخال البيانات صحيحه</span>
    </div>
    <div class="control warning__section">
        <div class="file-input__control__addfile">
        
            <button class="btn btn__dark">
                <span>بحث</span>
                <span class="btn__icon">
                    <img src="../../assets/images/magnify.svg" alt="">
                </span>
            </button>
        </div>
        <button class="btn">
            <span>مسح</span>
            <span class="btn__icon">
                <img src="../../assets/images/red_delete.svg" alt="">
            </span>
        </button>
    </div>
</div>