<nav>

    
    <div class="nav-bar">
    <div class="nav-bar__logo">
        <img src="../../assets/images/white-logo.png"/>
    </div>
    <div class="nav-bar__links">
        <a  routerLink ="home"   class="nav-bar__link">الرئيسية</a>
        <a routerLink="individualServices"  class="nav-bar__link">خدمات الأفراد</a>
        <a  routerLink="reserveAppointment"   class="nav-bar__link"> خمات الأعمال</a>
        <a  routerLink="query"  class="nav-bar__link"> خدمات الجهات الحكومية</a>
        <a class="nav-bar__link">خدمات الموظفين </a>
        <a class="nav-bar__link">خدمات الشركاء</a>
        <a class="nav-bar__link">تسجيل الدخول</a>
    </div>
    <div class="nav-bar__controls">
        <img class="lang" src="../../assets/images/language.svg">
        <img src="../../assets/images/vison.svg">
    </div>
</div>
</nav>