<div class="input-group">
    <div class="input-group__label">
        <span class="input-group__label__text">{{label}}</span>
        <img [hidden]="!labelIcon" src="../../assets/images/green-questionMark.png" class="input-group__label__icon"/>
    </div>
    <div class="input-group__input">
        <select class="input-group__input__field"   name="name" ngModel>
            <option class="option" value="demo1">اختر--</option>
            <option class="option" value="demo2">demo2</option>
            <option class="option" value="demo3">demo3</option>
            <option class="option" value="demo4">demo4</option>
        </select>
        <img class="input-group__input__icon" src="../../assets/images/chevron-left.svg"/>
    </div>
 </div>