@use './sass/index' as * ;
body{
    direction: rtl;
    background-color: #F3F6F9;
    text-align: right;
    
}
.container{
    width: 1240px;
    margin: auto;
    
}
.postion-100{
    position: relative;
    top: -100px;
}
.mt-20{
    margin-top: 20px;
}
.fix-potion-100{
    position: relative;
}
  
.check-box{
    position: relative;
    margin-left: 5px;
    &__real{
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        z-index: 99;
        opacity: 0;
        &:checked + .check-box__style img{
            display: block;
        }
    }
    &__style{
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        background-color: #FFFFFF;
        border:1px solid #159966;
        border-radius: 4px;
        z-index: 98;
        img{
            position: relative;
            top: -9px;
            left: 9px;
            display: none;
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

    }
}

.icon-2{
    width: 22px;
    height: 22px;
    object-fit: contain;
    padding-left:5px ;
}
.mb-8{
    margin-bottom: 8px;
}
.ml-20{
    margin-left: 20px;
}
.mt-30{
    margin-top: 30px;
}