<div class="calender">
    <h3 class="calender__sub-title pt-0 bb-1">التاريخ</h3>
    <div class="calender__week">
    <h3 class="calender__sub-title pv-15">
         <span>
            اغسطس
         </span> 
         <span>
            2022
         </span> 
        </h3>
    <div class="day-container">
        <div class="day">
            <p>السبت</p>
            <p>16</p>
        </div>
        <div class="day active">
            <p>الأحد</p>
            <p>17</p>
        </div>
        <div class="day">
            <p>الإثنين</p>
            <p>18</p>
        </div>
        <div class="day">
            <p>الثلاثاء</p>
            <p>19</p>
        </div>
        <div class="day">
            <p>الاربعاء</p>
            <p>20</p>
        </div>
        <div class="day">
            <p>الخميس</p>
            <p>21</p>
        </div>
        <div class="day">
            <p>الجمعة</p>
            <p>22</p>
        </div>
    </div>
    <h3 class="calender__sub-title bb-1 mb-5">الوقت</h3>
    <div class="time-container">
            <p class="time">8 صباحا - ١٢ مساء</p>
            <p class="time">8 صباحا - ١٢ مساء</p>
            <p class="time active">8 صباحا - ١٢ مساء</p>
            <p class="time">8 صباحا - ١٢ مساء</p>
            <p class="time">8 صباحا - ١٢ مساء</p>
            <p class="time">8 صباحا - ١٢ مساء</p>
            <p class="time">8 صباحا - ١٢ مساء</p>
            <p class="time">8 صباحا - ١٢ مساء</p>
            <p class="time">8 صباحا - ١٢ مساء</p>
            <p class="time">8 صباحا - ١٢ مساء</p>
        </div>
    </div>
</div>